body {
    background-color: #76b852;
    display: flex;
    justify-content: center; 
    align-items: center;
}

input {
    font-family: 'Roboto', sans-serif;
    color: grey;
    background-color: #f0efef;
    margin-bottom: 15px;
    height: 46px;
    padding: 15px;
    box-sizing: border-box; /*esto le dice que el padding lo haga de adentro, mantiene el height y el width*/
    border: none;
}

button {
    font-family: 'Roboto', sans-serif;
    background-color: #4CaF50;
    color: white;
    height: 46px;
    border: none;
}

.box-white {
    background-color: whitesmoke;
    width: 360px;
    padding: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px rgb(57, 70, 53);
}


